# Core functionality - changes here should be rare!
/src/app.py                   @SvB966
/src/backend/database.py      @SvB966
/src/backend/routers/auth.py  @SvB966

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SvB966
